---
layout: page
title: Categories
header: Posts By Category
group: navigation
---

<ul class="tag_box inline">
  {% assign categories_list = site.categories | sort %}
  {% for category in categories_list %}
    <li><a href="#{{ category[0] }}-ref">{{ category[0] }} <span>{{ category[1].size }}</span></a></li>
  {% endfor %}
</ul>

{% for category in categories_list %}
  <h2 id="{{ category[0] }}-ref">{{ category[0] }}</h2>
  <ul>
    {% for post in category[1] %}
      <li><span>{{ post.date | date: "%B %e, %Y" }}</span> &raquo; <a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}
